* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url(../img/fondoPan.jpg);
    width: 100%;
    object-fit: contain;
}
.container{
   text-align:center;
}
.containerLogin{
   
}
.fa-user-circle{
    font-size:30px;
    color: #fff; 
}